<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Booking - Book a Ticket</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="booking-container">
        <header>
            <h1>Book affordable buses</h1>
            <form id="searchForm" method="post">
                <div class="form-group">
                    <select type="text" id="from" name="from" placeholder="From" required>
                        <option value="">From</option>
                        <option value="NAIROBI">Nairobi</option>
                        <option value="MOMBASA">Mombasa</option>
                        <option value="KISUMU">Kisumu</option>
                        <option value="BUSIA">Busia</option>
                        <option value="SIRARE">Sirare</option>
                        <option value="MUMIAS">Mumias</option>
                        <option value="MALABA">Malaba</option>
                    </select>
                </div>
                <div class="form-group">
                    <select type="text" id="to" name="to" placeholder="To" required>
                        <option value="">To</option>
                        <option value="NAIROBI">Nairobi</option>
                        <option value="MOMBASA">Mombasa</option>
                        <option value="KISUMU">Kisumu</option>
                        <option value="BUSIA">Busia</option>
                        <option value="SIRARE">Sirare</option>
                        <option value="MUMIAS">Mumias</option>
                        <option value="MALABA">Malaba</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="date" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="return" name="twoWay">
                    <label for="return">Add Return</label>
                </div>
                <button type="submit">Search</button>
            </form>
        </header>
        <main>
            <%- include('./partials/searchedBuses') %>
        </main>
    </div>
</body>
</html>
