<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <div class="intro">
            <h1>Welcome to Bus Booking</h1>
            <p>Book your journey with ease and comfort</p>
            <svg width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8V12H2V8H22Z" fill="currentColor"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 16H20V13H4V16H2V19C2 20.1046 2.89543 21 4 21H6C7.10457 21 8 20.1046 8 19V18H16V19C16 20.1046 16.8954 21 18 21H20C21.1046 21 22 20.1046 22 19V16ZM7 5H17C18.1046 5 19 5.89543 19 7V8H5V7C5 5.89543 5.89543 5 7 5Z" fill="currentColor"/>
            </svg>
        </div>
        <div class="form-container">
            <form action="/login" method="post">
                <h2>Login</h2>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="/register">Sign Up</a></p>
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
